body{
    height: 95vh;
    background-color: white;
    color: #001233;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    border-radius: 10px;
    padding: 10px;
    height: fit-content;
    width: fit-content;
    background-color: #001233;
    color: white;
}
button{
    background-image: url("1251615.png");
    background-color: green;
    background-size: cover;
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 0px;
    right: 0px;

}
.margin{
    padding: 10px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.infoprodutos{
    width: 50%;
    display: flex;
    flex-direction: column;
}
#coluna{
    display: flex;
    flex-direction: column;
}
#linha{
    display: flex;
    flex-direction: row;
}
#infprod{
    display: flex;
    flex-direction: column;
}
#infdin{
    display: none;
}
