body{
    height: 95vh;
    background-color: white;
    color: #001233;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    border-radius: 10px;
    padding: 10px;
    height: fit-content;
    width: fit-content;
    background-color: #001233;
    color: white;
}
button{
    margin: 10px;
}
.margin{
    padding: 10px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
#coluna{
    display: flex;
    flex-direction: column;
}
#linha{
    display: flex;
    flex-direction: row;
}